@using Bloggable.Web.Areas.Administration.Controllers

@model Bloggable.Web.Models.Administration.Posts.ViewModels.PostGridViewModel

@{
    ViewBag.Title = "Create post";
}

<h2 class="text-center bottom-buffer">@ViewBag.Title</h2>

<div class="container">
    @using (Html.BeginForm<PostsController>(c => c.Create(null), FormMethod.Post, null, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.EditorForModel()

        <div class="text-center">
            @Html.Submit("Create").Attr("class", "btn btn-primary")
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}