@using Bloggable.Web.Controllers
@using Bloggable.Web.Models.Comments.InputModels

@model Bloggable.Web.Models.Posts.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

@section styles {
    @Styles.Render("~/Content/css/blog/post-details.css")
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hgroup>
                <h1>
                    @(Html.ActionLink<BlogController>(
                          Model.Title,
                          c => c.PostDetails(Model.CreatedOn.Year, Model.CreatedOn.Month, Model.UrlTitle, Model.Id)))
                </h1>

                @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
                {
                    <h2>@Model.SubTitle</h2>
                }
            </hgroup>
            <hr />

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    by
                    <a href="#">
                        @Model.AuthorUserName
                    </a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <span class="glyphicon glyphicon-time"></span>
                    Posted on @Model.CreatedOn.ToString("HH:mm dd/MM/yyyy")
                </div>
            </div>
            <hr />

            @if (!string.IsNullOrWhiteSpace(Model.ImageOrVideoUrl))
            {
                <img class="img-responsive" src="@Model.ImageOrVideoUrl" alt="@Model.Title image/video" />
                <hr />
            }

            <!-- Post Content -->
            @if (!string.IsNullOrWhiteSpace(Model.Summary))
            {
                <p class="lead">@Html.Raw(Model.Summary)</p>
            }

            @Html.Raw(Model.Content)
            <hr />

            <div class="clearfix">
                @if (Model.Tags.Any())
            {
                    @Html.DisplayFor(m => m.Tags)
                }
                else
                {
                    <text><em>No tags...</em></text>
                }
            </div>
            <hr />

            @if (User.IsLoggedIn())
            {
                <div class="top-buffer">
                    @Html.Partial("_CreateComment", new CreateCommentInputModel { PostId = Model.Id })
                </div>
            }

            <div id="post-comment-creation-result-message-container" class="alert hidden"></div>
            <div id="post-comments-container">
                @(Html.Action<CommentsController>(c => c.Read(Model.Id, null)))
            </div>
        </div>

        <div class="col-md-4">
            @(Html.Action<TagsController>(c => c.MostPopularTagsPartial()))
        </div>
    </div>
</div>

<script>
    function onCommentCreateSuccess(data) {
        // TODO: Show success notification
        debugger;
    }

    function onCommentCreateError(jqXHR, textStatus, errorThrown) {
        // TODO: Show error notification
        debugger;
    }

    function onCommentUpdateSuccess() {
        // TODO: Show success notification
        debugger;
    }

    function onCommentUpdateError(jqXHR, textStatus, errorThrown) {
        // TODO: Show error notification
        debugger;
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}