@using Bloggable.Web.Areas.Administration.Controllers
@using Bloggable.Web.Models.Administration.Pages.ViewModels

@model PageGridViewModel

@{
    ViewBag.Title = "Edit page";
}

<h2 class="text-center bottom-buffer">@ViewBag.Title</h2>

<div class="container">
    @using (Html.BeginForm<PagesController>(c => c.Update((PageGridViewModel)null), FormMethod.Post, null, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.EditorForModel()

        @Html.Submit("Edit").AddClass("btn btn-primary")
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}