@using Bloggable.Common.Constants
@using Bloggable.Web.Areas.Administration.Controllers
@using Bloggable.Web.Controllers
@using PostsAdministrationController = Bloggable.Web.Areas.Administration.Controllers.PostsController
@using PagesAdministrationController = Bloggable.Web.Areas.Administration.Controllers.PagesController

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - @ViewData.GetSystemSetting(AppSettingConstants.BlogNameSetting)</title>

    @Styles.Render("~/Content/styles")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @if (IsSectionDefined("contentHolderMetaInfo"))
    {
        @RenderSection("contentHolderMetaInfo", required: false)
    }
    else
    {
        var blogDescription = ViewData.GetSystemSetting(AppSettingConstants.BlogDescriptionSetting);
        if (!string.IsNullOrWhiteSpace(blogDescription))
        {
            <meta name="description" content="@blogDescription" />
        }

        var blogKeywords = ViewData.GetSystemSetting(AppSettingConstants.BlogKeywordsSetting);
        if (!string.IsNullOrWhiteSpace(blogKeywords))
        {
            <meta name="keywords" content="@blogKeywords" />
        }

        var blogAuthor = ViewData.GetSystemSetting(AppSettingConstants.BlogAuthor);
        if (!string.IsNullOrWhiteSpace(blogAuthor))
        {
            <meta name="author" content="@blogAuthor" />
        }
    }

    @RenderSection("other", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @(Html.ActionLink<HomeController>(
                    ViewData.GetSystemSetting(AppSettingConstants.BlogNameSetting),
                    c => c.Index(null),
                    null,
                    new { @class = "navbar-brand" }))
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@(Html.ActionLink<HomeController>("Home", c => c.Index(null)))</li>

                    @if (User.IsAdmin())
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="admin-menu">Administration<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="admin-menu">
                                <li>@(Html.ActionLink<PostsAdministrationController>("Posts administration", c => c.Index()))</li>
                                <li>@(Html.ActionLink<PagesAdministrationController>("Pages administration", c => c.Index()))</li>
                                <li>@(Html.ActionLink<SettingsController>("Settings administration", c => c.Index()))</li>
                                <li>@(Html.ActionLink<AdministrationLogsController>("Administration logs administration", c => c.Index()))</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="container alert-container"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewData.GetSystemSetting(AppSettingConstants.BlogNameSetting)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap", "~/bundles/global-scripts")
    @Html.Partial("_Alerts")
    @RenderSection("scripts", required: false)
</body>
</html>
