@using Bloggable.Web.Controllers
@using Microsoft.AspNet.Identity

@model Bloggable.Web.Models.Comments.ViewModels.CommentViewModel

<div class="media" id="post-comment-@Model.Id">
    @* TODO: Add link to user's profile page. *@
    <a class="pull-left" href="#">
        @* TODO: Get user's avatar with server call to a specific action (send wanted size as parameter) *@
        <img class="media-object" src="@Url.Content("~/Content/images/default/user-avatar.png")" alt="@Model.Author avatar">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            @* TODO: Add link to user's profile page. *@
            <a href="#">
                @Model.Author
            </a>
            <span class="glyphicon glyphicon-time" title="Commented on"></span>
            <small>@Model.CreatedOn.ToString("HH:mm:ss dd/MM/yyyy")</small>

            @if (Model.Author == User.Identity.GetUserName() || User.IsAdmin())
            {
                <span title="Edit comment">
                    @(Ajax.ActionLink<CommentsController>(
                          " ",
                          c => c.Update(Model.Id),
                          null,
                          new AjaxOptions
                          {
                              HttpMethod = "GET",
                              InsertionMode = InsertionMode.Replace,
                              UpdateTargetId = $"post-comment-content-{Model.Id}",
                              OnSuccess = "Bloggable.CommentActions.onUpdateCommentFormLoaded"
                          },
                          new { @class = "glyphicon glyphicon-pencil" }))
                </span>
            }
        </h4>

        <div id="post-comment-content-@Model.Id">
            @Model.Content
        </div>
    </div>
</div>
