@using Bloggable.Web.Controllers

@model Bloggable.Web.Models.Posts.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>@Model.Title</h1>

            <p class="lead">
                by @Model.AuthorUserName
            </p>
            <hr>

            <p>
                <span class="glyphicon glyphicon-time"></span>
                Posted on @Model.CreatedOn.ToString("HH:mm dd/MM/yyyy")
            </p>
            <hr>

            @if (!string.IsNullOrWhiteSpace(Model.ImageOrVideoUrl))
            {
                <img class="img-responsive" src="@Model.ImageOrVideoUrl" alt="@Model.Title image/video" />
                <hr />
            }

            <!-- Post Content -->
            @if (!string.IsNullOrWhiteSpace(Model.Summary))
            {
                <p class="lead">@Html.Raw(Model.Summary)</p>
            }

            @Html.Raw(Model.Content)
            <hr>

            <div class="clearfix">
                Tags: @Html.DisplayFor(m => m.Tags)
            </div>
        </div>

        <div class="col-md-4">
            @(Html.Action<TagsController>(c => c.MostPopularTagsPartial()))
        </div>
    </div>
</div>