@model Bloggable.Web.Models.Posts.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>@Model.Title</h1>

            <p class="lead">
                by @Model.AuthorUserName
            </p>

            <hr>

            <p>
                <span class="glyphicon glyphicon-time"></span>
                Posted on @Model.CreatedOn.ToString("HH:mm dd/MM/yyyy")
            </p>

            <hr>

            @if (!string.IsNullOrWhiteSpace(Model.ImageOrVideoUrl))
            {
                <img class="img-responsive" src="@Model.ImageOrVideoUrl" alt="@Model.Title image/video" />
                <hr />
            }

            <!-- Post Content -->
            @if (!string.IsNullOrWhiteSpace(Model.Summary))
            {
                <p class="lead">@Model.Summary</p>
            }

            @Model.Content

            <hr>
        </div>

        <div class="col-md-4">
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>