@using Bloggable.Web.Controllers
@using Bloggable.Web.Infrastructure.HtmlHelpers

@model Bloggable.Web.Models.Comments.InputModels.UpdateCommentInputModel

<div class="well">
    @using (Ajax.BeginForm<CommentsController>(
        c => c.Update(null),
        null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "Bloggable.CommentActions.onUpdateCommentSuccess",
            OnFailure = "Bloggable.CommentActions.onUpdateCommentFailure",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = $"post-comment-{Model.Id}"
        },
        new { role = "form", id = $"update-comment-form-{Model.Id}" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control comment-content", rows = 5 })
            @Html.ValidationMessageFor(m => m.Content)
        </div>

        <div class="form-group">
            <div class="general-error-message-container field-validation-error hidden"></div>
        </div>

        @Html.Submit("Submit").AddClass("btn btn-primary")
    }
</div>
