@model Bloggable.Web.Models.Home.PostAnnotationViewModel

<hgroup>
    <h2>
        <a href="/Blog/@Model.CreatedOn.Year/@Model.CreatedOn.Month/@Model.UrlTitle/@Model.Id">
            @Model.Title
        </a>
    </h2>

    @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
    {
        <h3>
            @Html.Raw(Model.SubTitle)
        </h3>
    }
</hgroup>

<p class="lead">
    by @Model.AuthorUserName
</p>

<p>
    <span class="fa fa-calendar-o"></span>
    Posted on @Model.CreatedOn.ToString("HH:mm dd/MM/yyyy")
</p>

@if (!string.IsNullOrWhiteSpace(Model.ImageOrVideoUrl))
{
    <img class="img-responsive" src="@Model.ImageOrVideoUrl" alt="@Model.Title image/video" />
}

<p>@Html.Raw(Model.Summary)</p>

@if (Model.Tags.Any())
{
    <div class="clearfix bottom-buffer">
        Tags: @Html.DisplayFor(m => m.Tags)
    </div>
}

<a class="btn btn-primary" href="/Blog/@Model.CreatedOn.Year/@Model.CreatedOn.Month/@Model.UrlTitle/@Model.Id">
    Read More <span class="glyphicon glyphicon-chevron-right"></span>
</a>
<hr />
