@using Bloggable.Web.Controllers

@model Bloggable.Web.Models.Home.PostAnnotationViewModel

<hgroup>
    <h2>
        @(Html.ActionLink<PostsController>(Model.Title, c => c.Details(Model.Id)))
    </h2>

    @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
    {
        <h3>@Html.Raw(Model.SubTitle)</h3>
    }
</hgroup>

<p class="lead">
    by @Model.AuthorUserName
</p>

<p><span class="fa fa-calendar-o"></span> Posted on @Model.CreatedOn.ToString("HH:mm dd/MM/yyyy")</p>
<hr>

@if (!string.IsNullOrWhiteSpace(Model.ImageOrVideoUrl))
{
    <img class="img-responsive" src="@Model.ImageOrVideoUrl" alt="@Model.Title image" />
    <hr>
}

<p>@Html.Raw(Model.Summary)</p>

<a class="btn btn-primary" href="@(Url.Action<PostsController>(c => c.Details(Model.Id)))">
    Read More <span class="glyphicon glyphicon-chevron-right"></span>
</a>
